#img-border-round {
    border-radius: 10%;
}

body {
    background-color: hsla(167, 92%, 61%, 0.363);
}

.progress {
    margin-left: 50%;
    margin-right: 50%;
    width: 30rem;
}

.uwu {
    margin-left: 50%;
    margin-right: 50%;
}