#img-border-round {
    border-radius: 10%;
}

body {
    background-color: hsla(167, 78%, 75%, 0.363);
}

.progress {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

.uwu {
    margin-left: 10%;
    margin-right: 10%;
}